app_name: databus
port: 8080  #http监听服务端口，默认8080
default_page_size: 10  #分页单页数据条数，默认10
jwt_secret: GCGFAetuHQDP3FCy  # jwt鉴权密码
debug: true #debug调试模式

logger:
  level: debug  #日志级别   debug|info|warn|error
  log_path: logs/debug.log #日志文件路径
  log_valid_days: 7 #日志有效期（天）

mysql:
  host: mysql
  port: 3306
  username: username
  password: password
  prefix:
  dbname: dbname
  debug: false
  #连接池设置
  pool:
    max_idle: 50  #连接池最大允许的空闲连接数
    max_open: 100 #连接池最大连接数

redis:
  host: redis
  port: 6379
  password: 123456
  db: 0
  prefix: wb

kafka:
  brokers:
    - kafka1:9092
  broker_address_family: "v4"   #broker是ipv4还是ipv6

elasticsearch:
  urls:
    - http://127.0.0.1:9200
  username: username
  password: password
